/* frontend/src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw; /* Force full width */
  min-height: 100vh;
}

#root {
  width: 100%; /* Allow the React app to fill the screen */
  margin: 0;
  padding: 0;
}